{
  "printWidth": 120,
  "singleQuote": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": true,
        "endOfLine": "auto",
        "explicitTypes": "always"
      }
    }
  ]
}
